// colors
$color-secondary: #e0f0ff;
$color-primary: #da7776;
$color-grey: #858383;
$color-grey-light1: #bababa;
$color-grey-light2: #f1f1f1;
$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, 0.9);

$color-background1: rgba(40, 73, 138, 0.2);
$color-background2: rgba(125, 43, 136, 0.2);
$color-background3: #0b1933;

$color-message-shadow: rgba(125, 43, 136, 0.733);
$color-message1: #6068b1;
$color-message2: #9d4ef7;

$color-self-message1: #9047d4;
$color-self-message2: #af55ab;
$color-self-message3: #da7776;

$color-font1: #f59a99;
$color-font2: #11c4d8;
